<div class="container-global">
  <header class="header" id="header">
    <h2 *transloco="let t">{{ t("header.motto") }}</h2>
    <div class="boxes">
      <div class="box">
        <h3>3+</h3>
        <p *transloco="let t">{{ t("header.info1") }}</p>
      </div>

      <div class="box">
        <h3>8+</h3>
        <p *transloco="let t">{{ t("header.info2") }}</p>
      </div>

      <div class="box">
        <h3>3</h3>
        <p *transloco="let t">{{ t("header.info3") }}</p>
      </div>
    </div>
  </header>
</div>
