<div class="container-global">
  <div class="social">
    <img class="portrait" src="../../assets/photo.jpg" alt="portrait" />
    <div class="boxes">
      <div class="box">
        <div>Name:</div>
        <div>Hubert Marczuk</div>
      </div>
      <div class="box">
        <div class="text">
          <div>Based in:</div>
          <div>Warsaw</div>
        </div>
        <img class="map-image" src="../../assets/map.jpg" alt="map" />
      </div>
      <div class="social-links">
        <a
          class="social-link"
          href="https://www.linkedin.com/in/hubert-marczuk-8129bb25b/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../assets/linkedin.svg" alt="linkedin icon" />
        </a>
        <a
          class="social-link"
          href="https://github.com/Piguen"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../assets/github.svg" alt="github icon"
        /></a>
        <a
          class="social-link"
          href="https://www.facebook.com/hubert.marczuk.9/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../assets/facebook.svg" alt="facebook icon"
        /></a>
        <a
          class="social-link"
          href="https://www.instagram.com/p.ingpon.g/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../assets/instagram.svg" alt="instagram icon"
        /></a>
      </div>
    </div>
  </div>
</div>
