<div class="container-global">
  <div class="about">
    <h2>About</h2>
    <p>
      Welcome to my portfolio! I am a passionate programmer specializing in
      Python and C# backend development. With extensive experience in Python and
      C#, I have developed robust backend systems for various projects.
    </p>
    <p>
      Python is my go-to language for building applications due to its
      simplicity and versatility. I leverage its strengths and extensive
      libraries to create scalable and maintainable code.
    </p>
    <p>
      In addition to Python, I have a strong command over C# for backend
      development. Feel free to explore my portfolio and examples of my work.
      Let's create something amazing together!
    </p>
  </div>
</div>
