<div class="container-global">
  <div class="projects">
    <h2>Web projects</h2>
    <div class="wrapper">
      <a
        href="https://piguen.github.io/Stronki2/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="image" src="../../assets/piguen.github.io_Stronki2_ .png" />
      </a>
      <a
        href="https://piguen.github.io/Stronki3/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="image" src="../../assets/piguen.github.io_Stronki3_.png" />
      </a>
      <a
        href="https://piguen.github.io/Stronki4/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="image" src="../../assets/piguen.github.io_Stronki4_.png" />
      </a>
    </div>
  </div>
</div>
